{%load static%}
<style></style>
<nav class="navbar navbar-expand" style="background-color: black; color: white; border-bottom: white solid 1px">
    <div class="container-fluid" style="color: cyan">
        <a class="navbar-brand" href="{% url 'index:index' %}">
            <img src="{% static 'assets/pokemon-logo.png'%}" style="width: 8vw; height: 5vh" alt="" />
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index:collection' %}">Collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index:exclusive' %}">Exclusive Deals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index:lookout' %}">Lookout</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <div class="d-flex">
                {%if request.user.is_authenticated %}
                <!--TODO replace Hello firstname with an img of their avatar-->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <h6>Hello {{request.user.first_name}}</h6>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href=" {% url 'index:logout' %}">Profile</a>
                        <a class="dropdown-item" href=" {% url 'index:logout' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'index:logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'index:login' %}">Login</a>
                </ul>
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'index:register' %}">Register</a>
                </ul>

                {% endif %}
            </div>
        </ul>
    </div>
</nav>
<style></style>
